@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";


.manrope-600 {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}



/* Ensure Swiper container has proper dimensions */
.my-horizontal-slider {
  width: 100%;
  height: 300px; /* Adjust as needed */
}

/* Swiper slide styling */
.swiper-slide {
  width: auto !important; /* Let slides size to content */
  height: 100%;
}